@charset "UTF-8";
/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
     # General elements
     # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  text-decoration: none;
  color: black;
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
     # Forms
     # ================================================================= */
input {
  border-radius: 0;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

/* Apply cursor pointer to button elements */
button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  cursor: pointer;
  color: inherit;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  /* Correct the inability to style clickable types in iOS and Safari */
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */
}

/* # =================================================================
     # Specify media element style
     # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not([fill]) {
  fill: currentColor;
}

/* # =================================================================
     # Accessibility
     # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

body {
  font-family: 'Noto Serif JP', serif;
  background-color: white;
}

.header {
  width: 100%;
  z-index: 999;
  position: fixed;
  opacity: 0;
  /*inner*/
  /*btn-gnavi*/
  /*nav*/
}

.header-inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 130px;
  z-index: 1000;
}

@media (max-width: 1150px) {
  .header-inner {
    padding: 0 30px;
  }
}

@media (max-width: 850px) {
  .header-inner {
    height: 80px;
  }
}

@media (max-width: 650px) {
  .header-inner {
    padding: 0 20px;
  }
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*logo*/
}

.header-logo .logo {
  width: 70px;
  height: 70px;
  margin-right: 13px;
}

@media (max-width: 1150px) {
  .header-logo .logo {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 650px) {
  .header-logo .logo {
    width: 45px;
    height: 45px;
  }
}

.header-logo .title-logo {
  width: 108px;
  height: 50px;
}

@media (max-width: 1150px) {
  .header-logo .title-logo {
    width: 100px;
    height: 40px;
  }
}

@media (max-width: 650px) {
  .header-logo .title-logo {
    width: 90px;
    height: 45px;
  }
}

@media (max-width: 850px) {
  .header .btn-gnavi {
    position: fixed;
    top: 25px;
    right: 50px;
    width: 30px;
    height: 24px;
    z-index: 4;
    cursor: pointer;
    transition: all 400ms;
    -webkit-transition: all 400ms;
  }
}

@media (max-width: 480px) {
  .header .btn-gnavi {
    right: 40px;
  }
}

.header .btn-gnavi {
  z-index: 1000;
  /*span*/
  /*span*/
  /*span*/
  /*span*/
}

@media (max-width: 850px) {
  .header .btn-gnavi span {
    position: absolute;
    width: 50px;
    height: 3px;
    background: white;
    -webkit-transition: all 400ms;
    transition: all 400ms;
  }
}

@media (max-width: 480px) {
  .header .btn-gnavi span {
    width: 45px;
  }
}

@media (max-width: 850px) {
  .header .btn-gnavi span:nth-of-type(1) {
    top: 0;
    z-index: 1000;
  }
}

@media (max-width: 850px) {
  .header .btn-gnavi span:nth-of-type(2) {
    top: 10px;
    z-index: 1000;
  }
}

@media (max-width: 850px) {
  .header .btn-gnavi span:nth-of-type(3) {
    top: 20px;
    z-index: 1000;
  }
}

.header .btn-gnavi.hb-open span:nth-of-type(1) {
  -webkit-transform: translateY(10px) rotate(-230deg);
  transform: translateY(10px) rotate(-230deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .btn-gnavi.hb-open span:nth-of-type(2) {
  opacity: 0;
}

.header .btn-gnavi.hb-open span:nth-of-type(3) {
  -webkit-transform: translateY(-10px) rotate(230deg);
  transform: translateY(-10px) rotate(230deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 850px) {
  .open .header-nav {
    visibility: visible;
    opacity: 1;
  }
  .open .header-nav li {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: opacity .9s ease, -webkit-transform 1s ease;
    transition: transform 1s ease, opacity .9s ease;
    transition: transform 1s ease, opacity .9s ease, -webkit-transform 1s ease;
  }
}

.header-nav {
  /*ul*/
}

@media (max-width: 850px) {
  .header-nav {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 500;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 29px;
    opacity: 0;
    -webkit-transition: opacity .6s ease, visibility .6s ease;
    transition: opacity .6s ease, visibility .6s ease;
  }
}

.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  line-height: 33px;
  /*li*/
}

@media (max-width: 850px) {
  .header-nav ul {
    display: block;
  }
}

.header-nav ul li {
  text-align: center;
  margin-right: 49px;
  font-size: 18px;
  letter-spacing: 0.3em;
}

@media (max-width: 1150px) {
  .header-nav ul li {
    margin-right: 2.5vw;
    font-size: 1.6vw;
  }
}

@media (max-width: 850px) {
  .header-nav ul li {
    font-size: 20px;
    width: 100%;
    padding-bottom: 20px;
    opacity: 0;
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    -webkit-transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: opacity .2s ease, -webkit-transform .6s ease;
    transition: transform .6s ease, opacity .2s ease;
    transition: transform .6s ease, opacity .2s ease, -webkit-transform .6s ease;
  }
  .header-nav ul li:nth-child(2) {
    -webkit-transition-delay: .15s;
            transition-delay: .15s;
  }
  .header-nav ul li:nth-child(3) {
    -webkit-transition-delay: .3s;
            transition-delay: .3s;
  }
  .header-nav ul li:nth-child(4) {
    -webkit-transition-delay: .45s;
            transition-delay: .45s;
  }
  .header-nav ul li:nth-child(5) {
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  .header-nav ul li:nth-child(6) {
    -webkit-transition-delay: .75s;
            transition-delay: .75s;
  }
  .header-nav ul li:nth-child(7) {
    -webkit-transition-delay: .9s;
            transition-delay: .9s;
  }
}

.header-nav ul li a:hover {
  color: #B2A168;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-nav ul li a {
  color: white;
}

@media (max-width: 850px) {
  .header-nav ul li a {
    color: #ffffff;
    padding-left: 20px;
  }
}

.header-btn {
  /*number*/
}

@media (max-width: 850px) {
  .header-btn {
    display: none;
  }
}

.header-btn .contact-btn {
  border: 2px solid #B2A168;
  border-radius: 30px;
  padding: 12px 25px;
  color: #B2A168;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

@media (max-width: 1150px) {
  .header-btn .contact-btn {
    font-size: 1.2em;
    padding: 8px 19px;
  }
}

.header-btn .contact-btn:hover {
  background-color: #e0e0e0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.header-btn .contact-btn::before {
  content: url(../img/phone-icon.png);
  margin-right: 6px;
  position: relative;
  top: 4px;
}

.header-btn .number {
  margin-left: 12px;
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
}

@media (max-width: 1150px) {
  .header-btn .number {
    font-size: 1.2rem;
  }
}

/*header*/
.fadein {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.header-bacground {
  background-color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mainvisual {
  background-color: black;
  top: -130px;
  position: relative;
  z-index: 888;
  /*logo*/
}

.mainvisual-inner {
  background-image: url("../img/mainvisual.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  margin: 0 auto;
  background-position: fixed;
  /* 背景の位置指定 */
  height: 100vh;
  position: relative;
  margin-bottom: -130px;
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

.mainvisual .inneractive {
  opacity: 1;
  -webkit-transition: 2.5s;
  transition: 2.5s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.mainvisual-inner:before {
  background-color: rgba(0, 0, 0, 0.5);
  /* どの範囲に重ねるかを指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.mainvisual-logo {
  opacity: 0;
  /*img*/
}

.mainvisual-logo img {
  width: 270px;
  height: 360px;
  position: absolute;
  top: 57%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  margin: auto;
}

@media (max-width: 850px) {
  .mainvisual-logo img {
    height: 270px;
    width: 220px;
  }
}

@media (max-width: 650px) {
  .mainvisual-logo img {
    height: 220px;
    width: 180px;
  }
}

@media (max-width: 480px) {
  .mainvisual-logo img {
    height: 140px;
    width: 120px;
  }
}

.mainvisual .visualfadein {
  opacity: 1;
  -webkit-transition: 2.5s;
  transition: 2.5s;
}

/*mainvisual*/
.intro {
  background-color: black;
  padding-bottom: 180px;
  background-image: url("../img/slash.png");
  background-repeat: no-repeat;
  background-position: top 160px right -140px;
  /*inner*/
  /*content*/
  /*box*/
}

@media (max-width: 1150px) {
  .intro {
    background-position: top 160px right -340px;
  }
}

@media (max-width: 850px) {
  .intro {
    background-size: 130%;
    background-position: top 160px right -160px;
  }
}

@media (max-width: 650px) {
  .intro {
    background-size: 120%;
    background-position: top 160px right -140px;
  }
}

@media (max-width: 480px) {
  .intro {
    padding-bottom: 140px;
    background-size: 140%;
    background-position: top 130px right -170px;
  }
}

.intro-inner {
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
  padding-top: 135px;
  position: relative;
}

@media (max-width: 1150px) {
  .intro-inner {
    max-width: 1024px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 850px) {
  .intro-inner {
    padding-top: 80px;
  }
}

@media (max-width: 480px) {
  .intro-inner {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.intro-inner .en-title {
  color: white;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  letter-spacing: 0.025em;
}

@media (max-width: 850px) {
  .intro-inner .en-title {
    display: none;
  }
}

.intro-inner .en-title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.intro-inner .border {
  position: absolute;
  top: 170px;
  height: 0px;
  width: 1px;
  background: white;
}

@media (max-width: 850px) {
  .intro-inner .border {
    display: none;
  }
}

.intro-content {
  width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 85px;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@media (max-width: 1150px) {
  .intro-content {
    max-width: 800px;
    padding-top: 50px;
  }
}

@media (max-width: 850px) {
  .intro-content {
    display: block;
    padding-top: 35px;
    text-align: center;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /* 縦向きに配置 */
    position: relative;
  }
}

@media (max-width: 480px) {
  .intro-content {
    padding-top: 0px;
  }
}

.intro-content.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.intro-box {
  /*btn-box*/
}

.intro-box h2 {
  color: #B2A168;
  margin-bottom: 48px;
  letter-spacing: 0.12em;
  font-size: 34px;
}

@media (max-width: 1150px) {
  .intro-box h2 {
    margin-bottom: 20px;
  }
}

@media (max-width: 850px) {
  .intro-box h2 {
    margin-bottom: 320px;
  }
}

@media (max-width: 480px) {
  .intro-box h2 {
    margin-bottom: 250px;
    font-size: 24px;
  }
}

.intro-box .intro-sentence {
  letter-spacing: 0.12em;
}

@media (max-width: 850px) {
  .intro-box .intro-sentence {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.intro-box p {
  color: white;
  line-height: 40px;
}

@media (max-width: 1150px) {
  .intro-box p {
    line-height: 30px;
  }
}

@media (max-width: 850px) {
  .intro-box p {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .intro-box p {
    font-size: 14px;
  }
}

.intro-box .btn-box {
  width: 185px;
  background-color: #B2A168;
  text-align: center;
  margin-top: 55px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
  border: 2px solid #B2A168;
  cursor: pointer;
  /*a*/
}

@media (max-width: 1150px) {
  .intro-box .btn-box {
    margin-top: 35px;
  }
}

@media (max-width: 850px) {
  .intro-box .btn-box {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .intro-box .btn-box {
    width: 300px;
  }
}

.intro-box .btn-box a {
  color: white;
  display: block;
  height: 100%;
  padding: 17px 68px;
}

.intro-box .btn-box a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.intro-box .btn-box:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #B2A168;
}

@media (max-width: 850px) {
  .intro-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    position: absolute;
    top: 37%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  .intro-img {
    top: 32%;
  }
}

.intro-img .img {
  margin-top: 15px;
}

@media (max-width: 1150px) {
  .intro-img .img {
    width: 450px;
  }
}

@media (max-width: 850px) {
  .intro-img .img {
    margin-top: 0px;
    width: 400px;
  }
}

@media (max-width: 480px) {
  .intro-img .img {
    width: 280px;
  }
}

/*intro*/
.menu {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 105px;
  /*title*/
}

.menu-inner {
  width: 100%;
  background-image: url("../img/yutaka-logo.png");
  background-position: 110% -7%;
  padding-top: 130px;
}

@media (max-width: 850px) {
  .menu-inner {
    padding-top: 100px;
  }
}

@media (max-width: 650px) {
  .menu-inner {
    background-size: 60%;
    background-position: 130% -50px;
  }
}

@media (max-width: 480px) {
  .menu-inner {
    background-size: 80%;
    background-position: 130% -30px;
  }
}

.menu-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  /*&-title*/
}

@media (max-width: 1150px) {
  .menu-title {
    max-width: 1024px;
    margin-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 850px) {
  .menu-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.menu-title .en-title {
  font-size: 18px;
  position: relative;
  line-height: 50px;
  letter-spacing: 0.025em;
}

@media (max-width: 850px) {
  .menu-title .en-title {
    line-height: 20px;
    font-size: 16px;
  }
}

.menu-title h2 {
  font-size: 34px;
  font-weight: normal;
  margin-left: 40px;
  letter-spacing: 0.12em;
}

@media (max-width: 850px) {
  .menu-title h2 {
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .menu-title h2 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .menu-title h2 {
    font-size: 24px;
  }
}

.menu-title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu-border {
  position: absolute;
  top: 50px;
  height: 0px;
  width: 1px;
  background: white;
}

@media (max-width: 850px) {
  .menu-border {
    display: none;
  }
}

.menu-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  width: 100%;
  margin-top: 100px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  /*box*/
}

@media (max-width: 1150px) {
  .menu-contain {
    max-width: 800px;
  }
}

@media (max-width: 850px) {
  .menu-contain {
    max-width: 650px;
  }
}

@media (max-width: 650px) {
  .menu-contain {
    max-width: 100%;
    display: block;
  }
}

.menu-contain .box {
  text-align: center;
  width: 460px;
  /*img*/
}

@media (max-width: 1150px) {
  .menu-contain .box {
    max-width: 370px;
  }
}

@media (max-width: 850px) {
  .menu-contain .box {
    max-width: 300px;
  }
}

@media (max-width: 650px) {
  .menu-contain .box {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .menu-contain .box {
    max-width: 280px;
  }
}

.menu-contain .box img {
  width: 460px;
  height: 320px;
}

@media (max-width: 1150px) {
  .menu-contain .box img {
    max-width: 370px;
    height: 280px;
  }
}

@media (max-width: 850px) {
  .menu-contain .box img {
    max-width: 300px;
    height: 200px;
  }
}

@media (max-width: 650px) {
  .menu-contain .box img {
    max-width: 400px;
    height: 230px;
  }
}

@media (max-width: 480px) {
  .menu-contain .box img {
    max-width: 280px;
    height: 180px;
  }
}

.menu-contain .box .menu-name {
  font-size: 24px;
  color: white;
  margin-top: 35px;
  margin-bottom: 30px;
  letter-spacing: 3px;
  letter-spacing: 0.12em;
}

@media (max-width: 850px) {
  .menu-contain .box .menu-name {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

@media (max-width: 650px) {
  .menu-contain .box .menu-name {
    letter-spacing: 3px;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .menu-contain .box .menu-name {
    letter-spacing: 0px;
  }
}

.menu-contain .box p {
  color: white;
  margin-bottom: 85px;
  display: inline-block;
  text-align: left;
  line-height: 40px;
  letter-spacing: 0.12em;
}

@media (max-width: 1150px) {
  .menu-contain .box p {
    margin-bottom: 60px;
  }
}

@media (max-width: 850px) {
  .menu-contain .box p {
    font-size: 15px;
  }
}

@media (max-width: 650px) {
  .menu-contain .box p {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .menu-contain .box p {
    line-height: 30px;
  }
}

.menu-contain.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.menu .button {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  /*btn-box*/
}

@media (max-width: 1150px) {
  .menu .button {
    max-width: 800px;
  }
}

.menu .button .btn-box {
  width: 185px;
  background-color: #B2A168;
  text-align: center;
  margin: 0 0 0 auto;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
  font-weight: normal;
  border: 2px solid #B2A168;
}

@media (max-width: 850px) {
  .menu .button .btn-box {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .menu .button .btn-box {
    width: 300px;
  }
}

.menu .button .btn-box a {
  color: white;
  display: block;
  height: 100%;
  padding: 17px 68px;
}

.menu .button .btn-box a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.menu .button .btn-box:hover {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  color: #B2A168;
}

.menu .button.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

/*news*/
.news {
  background-color: black;
  padding-top: 128px;
  padding-bottom: 125px;
}

@media (max-width: 850px) {
  .news {
    padding-top: 100px;
  }
}

.news-inner {
  max-width: 1115px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1150px) {
  .news-inner {
    max-width: 1020px;
  }
}

.news-title {
  color: white;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
}

@media (max-width: 1150px) {
  .news-title {
    margin-bottom: 60px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 850px) {
  .news-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.news-title .en-title {
  font-size: 18px;
  position: relative;
  line-height: 50px;
  letter-spacing: 0.025em;
}

@media (max-width: 850px) {
  .news-title .en-title {
    line-height: 20px;
    font-size: 16px;
  }
}

.news-title h2 {
  font-size: 34px;
  font-weight: normal;
  margin-left: 40px;
  letter-spacing: 0.12em;
}

@media (max-width: 850px) {
  .news-title h2 {
    margin-left: 0px;
  }
}

@media (max-width: 650px) {
  .news-title h2 {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .news-title h2 {
    font-size: 24px;
  }
}

.news-title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.news-border {
  position: absolute;
  top: 50px;
  height: 0px;
  width: 1px;
  background: white;
}

@media (max-width: 850px) {
  .news-border {
    display: none;
  }
}

.news-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  /*box*/
}

@media (max-width: 1150px) {
  .news-contain {
    max-width: 800px;
  }
}

@media (max-width: 850px) {
  .news-contain {
    max-width: 650px;
  }
}

@media (max-width: 650px) {
  .news-contain {
    max-width: 100%;
    display: block;
  }
}

.news-contain a:hover {
  opacity: 0.7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.news-contain .box {
  color: white;
  /*img*/
  /*date*/
  /*h1*/
}

@media (max-width: 1150px) {
  .news-contain .box {
    width: 240px;
  }
}

@media (max-width: 850px) {
  .news-contain .box {
    width: 200px;
  }
}

@media (max-width: 650px) {
  .news-contain .box {
    margin: 0 auto;
    width: 400px;
    height: 230px;
    margin-bottom: 160px;
  }
}

@media (max-width: 480px) {
  .news-contain .box {
    max-width: 280px;
    height: 180px;
    margin-bottom: 140px;
  }
}

.news-contain .box a {
  color: white;
}

.news-contain .box img {
  width: 280px;
  height: 215px;
}

@media (max-width: 1150px) {
  .news-contain .box img {
    width: 240px;
  }
}

@media (max-width: 850px) {
  .news-contain .box img {
    width: 200px;
    height: 180px;
  }
}

@media (max-width: 650px) {
  .news-contain .box img {
    width: 400px;
    height: 230px;
  }
}

@media (max-width: 480px) {
  .news-contain .box img {
    max-width: 280px;
    height: 180px;
  }
}

.news-contain .box .date {
  margin-top: 30px;
  margin-bottom: 15px;
  letter-spacing: 0.12em;
  bottom: 0;
}

@media (max-width: 1150px) {
  .news-contain .box .date {
    margin-top: 15px;
  }
}

.news-contain .box h1 {
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.12em;
}

@media (max-width: 480px) {
  .news-contain .box h1 {
    font-size: 15px;
  }
}

.news-contain.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.news .button {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-top: 85px;
  opacity: 0;
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
  -webkit-transition: all 1.2s;
  transition: all 1.2s;
  /*btn-box*/
}

@media (max-width: 1150px) {
  .news .button {
    max-width: 800px;
    padding-top: 60px;
  }
}

@media (max-width: 850px) {
  .news .button {
    max-width: 650px;
  }
}

@media (max-width: 650px) {
  .news .button {
    padding-top: 20px;
  }
}

@media (max-width: 480px) {
  .news .button {
    padding-top: 0px;
  }
}

.news .button .btn-box {
  width: 185px;
  background-color: #B2A168;
  text-align: center;
  margin: 0 0 0 auto;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.05em;
  border: 2px solid #B2A168;
}

@media (max-width: 850px) {
  .news .button .btn-box {
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .news .button .btn-box {
    width: 300px;
  }
}

.news .button .btn-box a {
  color: white;
  display: block;
  height: 100%;
  padding: 17px 68px;
}

.news .button .btn-box a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.news .button .btn-box:hover {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.news .button.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.footer {
  background-color: #B2A168;
  height: 220px;
  background-image: url("../img/transparent-logo.png");
  background-repeat: no-repeat;
  background-size: 25%;
  background-position: -3% 55%;
  /*extra*/
}

@media (max-width: 850px) {
  .footer {
    background-size: 35%;
  }
}

@media (max-width: 650px) {
  .footer {
    background-size: 350px;
    background-position: -10% -10%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .footer {
    background-size: 350px;
    background-position: left -70px top -20px;
  }
}

.footer-inner {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 850px) {
  .footer-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 650px) {
  .footer-inner {
    display: block;
    max-width: 550px;
    width: 100%;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.footer-title {
  color: #FFFFFF;
  font-size: 27px;
  margin-bottom: 15px;
  line-height: 27px;
  letter-spacing: 0.3em;
}

@media (max-width: 850px) {
  .footer-title {
    font-size: 22px;
  }
}

@media (max-width: 650px) {
  .footer-title {
    font-size: 27px;
    margin-bottom: 25px;
  }
}

.footer-address {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 650px) {
  .footer-address {
    font-size: 14px;
    margin-bottom: 33px;
  }
}

.footer .btn-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 650px) {
  .footer .btn-section {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.footer-btn-first {
  width: auto;
  height: 45px;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 30px;
  color: #B2A168;
  background-color: white;
  margin-right: 12px;
  line-height: 45px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 650px) {
  .footer-btn-first {
    font-size: 15px;
    height: 45px;
    line-height: 40px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer-btn-first .phone-btn {
  display: block;
  color: #B2A168;
  padding-right: 43px;
  padding-left: 43px;
  letter-spacing: 0.3em;
}

@media (max-width: 1150px) {
  .footer-btn-first .phone-btn {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 850px) {
  .footer-btn-first .phone-btn {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 650px) {
  .footer-btn-first .phone-btn {
    line-height: 13px;
  }
}

.footer-btn-first .phone-btn:hover {
  color: white;
}

.footer-btn-first:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #B2A168;
}

.footer-btn-second {
  width: auto;
  height: 45px;
  font-size: 15px;
  border: 2px solid white;
  border-radius: 30px;
  color: #B2A168;
  background-color: white;
  margin-right: 12px;
  line-height: 45px;
  font-weight: bold;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 650px) {
  .footer-btn-second {
    font-size: 15px;
    height: 45px;
    line-height: 25px;
    width: 280px;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.footer-btn-second .phone-btn {
  display: block;
  color: #B2A168;
  padding-right: 43px;
  padding-left: 43px;
  letter-spacing: 0.3em;
}

@media (max-width: 1150px) {
  .footer-btn-second .phone-btn {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 850px) {
  .footer-btn-second .phone-btn {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 650px) {
  .footer-btn-second .phone-btn {
    line-height: 13px;
  }
}

.footer-btn-second .phone-btn:hover {
  color: white;
}

.footer-btn-second:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background-color: #B2A168;
}

.footer-navigation {
  /*ul*/
}

.footer-navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 23px;
  /*li+li*/
}

@media (max-width: 850px) {
  .footer-navigation ul {
    text-align: right;
  }
}

@media (max-width: 650px) {
  .footer-navigation ul {
    right: 3%;
    display: initial;
  }
}

.footer-navigation ul li {
  padding: 0 40px;
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

@media (max-width: 1150px) {
  .footer-navigation ul li {
    padding: 0 20px;
  }
}

@media (max-width: 850px) {
  .footer-navigation ul li {
    display: inline;
    font-size: 14px;
    padding: 0 15px;
  }
}

@media (max-width: 650px) {
  .footer-navigation ul li {
    display: none;
  }
}

.footer-navigation ul li a {
  color: #FFFFFF;
}

.footer-navigation ul li a:hover {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 850px) {
  .footer-navigation ul li:first-child {
    letter-spacing: 4px;
  }
}

.footer-navigation ul li + li {
  border-left: 0;
  border-right: 1px solid #FFFFFF;
}

.footer-extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Noto Sans JP', sans-serif;
}

@media (max-width: 650px) {
  .footer-extra {
    margin-top: 20px;
    width: 275px;
    margin: 0 auto;
    text-align: center;
  }
}

.footer-extra p {
  margin-bottom: 40px;
  margin-left: 40px;
}

@media (max-width: 1150px) {
  .footer-extra p {
    margin-left: 20px;
  }
}

@media (max-width: 850px) {
  .footer-extra p {
    margin-left: 20px;
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .footer-extra p {
    margin-left: 15px;
    margin-right: 15px;
    font-size: 13px;
    margin-bottom: 35px;
    margin-top: 40px;
  }
}

.footer-extra a {
  color: #FFFFFF;
}

.footer-extra a:hover {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer-icon {
  text-align: right;
}

@media (max-width: 650px) {
  .footer-icon {
    text-align: center;
  }
}

.footer-icon img {
  margin-left: 33px;
}

@media (max-width: 850px) {
  .footer-icon img {
    margin-left: 20px;
  }
}

@media (max-width: 650px) {
  .footer-icon img {
    width: 34px;
    height: 34px;
  }
}

@media (max-width: 480px) {
  .footer-icon img {
    margin-left: 10px;
  }
}

.footer-icon img:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*footer*/
/*# sourceMappingURL=top_page.css.map */